extends layout 

block content 
  div.list-page-content
    h1.section-title= title

    ul.list
      each category in category_list
        li
          a.list-item(href=category.url) #{category.name}
          p.list-item-description #{category.description}

      else 
        li There are no categories.