extends layout

block content
  div.home-content
    p Welcome to this #[strong Node.js] #[em Inventory Application] build with #[strong Express]. Users can Create, Read, Update and Delete Items and Categories.

    p(style='font-size:1.5rem;') At this moment. The application has the following: 

    ul.home-information
      li #[strong Categories:] !{category_count}
      li #[strong Items:] !{item_count}