extends layout 

block content 
  div.list-page-content
    h1.section-title= title

    ul.list
      each item in item_list
        li
          a.list-item(href=item.url) #{item.name}
          p.list-item-description $#{item.price}

      else 
        li There are no items.