* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px 25px;
  background-color: #fecdd3;
}

.navbar-title {
  font-size: 1.2rem;
}

.navbar-navigation > ul{
  display: flex;
  gap: 1rem;
}

.navbar-navigation > ul > li > a{
  font-size: 1.2rem;
}

.navbar-navigation > ul > li > a:hover{
  color: grey;
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

/* HOME PAGE */
.home-content {
  width: 75%;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.home-content > p {
  font-size: 1.1rem;
}

.home-information {
  padding-top: 25px;
  font-size: 1.5rem;
}

/* LIST PAGES */

.list-page-content {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fef2f2;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* DETAIL PAGES */
.detail-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}

.upper-detail-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* OTHER */

.section-title {
  /* padding-bottom: 25px; */
}

.sub-title {
  font-size: 1.5rem;
}

.list {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  font-size: 1.1rem;
}

.text-success {
  color: green;
}

.text-warning {
  color: orange;
}

.text-danger {
  color: red;
}

